@import './reset.css';

/* Шрифт только жирный нашла */
/* @font-face {
    font-family: Gilam;
    src: url('./fonts/GilamDemo-Black.otf');
} */

.wrapper {
    width: 1460px;
    margin: 0 auto;
}

.header {
    background-color: #171717;
    padding: 45px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    justify-content: space-between;
    color: #E4B564;
    align-items: center;
}

.phone__number {
    color: white;
    margin-right: 40px;
}

.header__callback {
    text-decoration: none;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
}

.callback__icon {
    margin-right: 10px;
}

.section-networks {
    background-color: #171717;
    color: white;
}

.heading {
    font-family:
        /*Gilam*/
        Arial, Helvetica, sans-serif;
    font-style: Bold;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 40px;
    padding-top: 40px;
}

.section-text {
    font-family:
        /*Gilam*/
        Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    margin-bottom: 40px;
}

.section-networks__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5";
}

.section-networks__grid-item-1 {
    grid-area: item1;
    background-color: #634F2C;
}

.section-networks__grid-item-2 {
    grid-area: item2;
    background-color: #B4A385;
}

.section-networks__grid-item-3 {
    grid-area: item3;
    background-color: #E4B564;
}

.section-networks__grid-item-4 {
    grid-area: item4;
    background-color: #635A4A;
}

.section-networks__grid-item-5 {
    grid-area: item5;
    background-color: #B08C4D;
}

.section-networks__grid>div {
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:
        /*Gilam*/
        Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 40px;

}

.section-technique {
    background-color: #171717;
    color: white;
}

.section-technique__grid {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "item1 item2 item3"
        "item1 item2 item3"
        "item4 item2 item6"
        "item4 item5 item6"
        "item4 item5 item7"
        "item4 item5 item7";
}

.bold {
    text-transform: uppercase;
    font-weight: bold;
}

.section-technique__grid-item-1 {
    grid-area: item1;
    background-color: #0E0E0E;
}

.section-technique__grid-item-2 {
    grid-area: item2;
    background-color: #242424;
}

.section-technique__grid-item-3 {
    grid-area: item3;
    background-color: #1F1F1F;
}

.section-technique__grid-item-4 {
    grid-area: item4;
    background-color: #1F1F1F;
}

.section-technique__grid-item-5 {
    grid-area: item5;
    background-color: #E4B564;
    color: #000000;
}

.section-technique__grid-item-6 {
    grid-area: item6;
    background-color: #0E0E0E;
}

.section-technique__grid-item-7 {
    grid-area: item7;
    background-color: #0A0909;
}

.section-technique__grid>div {
    padding-top: 45px;
    padding-left: 50px;
    font-family:
        /*Gilam*/
        Arial, Helvetica, sans-serif;
}

.section-clients {
    background-color: #0E0E0E;
    color: white;
}

.section-clients__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

.section-clients__all-projects-button {

    text-decoration: none;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
}

.section-clients__grid>div {
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:
        /*Gilam*/
        Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 40px;
}

.section-clients__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";
}

.section-clients__grid-item-1 {
    grid-area: item1;
    background-color: #634F2C;
}

.section-clients__grid-item-2 {
    grid-area: item2;
    background-color: #E8D2ABC2;
    font-family:
        /*Gilam*/
        Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.section-clients__grid-item-3 {
    grid-area: item3;
    background-color: #E4B564;
}

.section-clients__grid-item-4 {
    grid-area: item4;
    background-color: #635A4A;
}

.section-clients__grid-item-5 {
    grid-area: item5;
    background-color: #B08C4D;
}

.section-clients__grid-item-6 {
    grid-area: item6;
    background-color: #634F2C;
}

.section-clients__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 240px;
    background-color: #171717;
}